<div
  class="
    flex
    2xl:w-3/5
    xl:w-3/5
    lg:w-4/5
    md:w-full
    sm:w-full
    w-full
    h-full
    justify-center
    container
    font-inter
    mx-auto
    p-6
  "
>
  <div class="flex flex-col w-full justify-start items-start">
    <div class="text-gray-900 font-bold text-3xl">Directives</div>
    <div class="text-gray-800 font-normal text-base my-2 content-center">
      Directives are custom HTML attributes which tell angular to change the
      style or behavior of the Dom elements.
    </div>
    <div class="text-gray-800 font-normal text-base my-2 content-center">
      When we say that components are the building blocks of Angular
      applications, we are actually saying that directives are the building
      blocks of Angular applications.
    </div>
    <div>
      <img class="flex w-full my-4" src="https://i.imgur.com/U4Shh6m.png" />
    </div>
    <div class="text-gray-900 font-semibold text-xl">Component Directives</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      It forms the main class and is declared by @Component. It contains the
      details on component processing, instantiated and usage at run time.
    </div>
    <div class="flex w-full mt-4">
      <iframe
        src="https://www.thiscodeworks.com/embed/61bc2f402e046e00150bd082"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="text-gray-900 font-semibold mt-4 text-xl">
      Structural Directives
    </div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      Structure directives manipulate the DOM elements. These directives have a
      * sign before the directive.<br />
      <span class="font-semibold">For example :</span> *ngIf and *ngFor.
    </div>
    <div class="text-gray-900 font-semibold mt-4 text-xl">NgIf</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      It is used to create or remove a part of the DOM tree depending on a
      condition.
    </div>
    <div class="text-gray-900 font-semibold my-2 text-xl">app.component.ts</div>
    <div class="flex w-full my-2">
      <iframe
        src="https://www.thiscodeworks.com/embed/61bc313f2e046e00150bd083"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="text-gray-900 font-semibold mb-2 text-xl">
      app.component.html
    </div>
    <div class="flex w-full my-2">
      <iframe
        src="https://www.thiscodeworks.com/embed/61bc31b02e046e00150bd084"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="text-gray-900 font-semibold mt-4 text-xl">NgFor</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      It is used to customize data display. It is mainly used for displaying a
      list of items using repetitive loops.
    </div>
    <div class="text-gray-900 font-semibold my-2 text-xl">app.component.ts</div>
    <div class="flex w-full my-2">
      <iframe
        src="https://www.thiscodeworks.com/embed/61bc32972e046e00150bd085"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="text-gray-900 font-semibold mb-2 text-xl">
      app.component.html
    </div>
    <div class="flex w-full my-2">
      <iframe
        src="https://www.thiscodeworks.com/embed/61bc32cf2e046e00150bd086"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="text-gray-900 font-semibold mt-4 text-xl">NgSwitch</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      It is like the JavaScript switch. It can display one element from among
      several possible elements, based on a switch condition. Angular puts only
      the selected element into the DOM.
    </div>
    <div class="text-gray-900 font-semibold mb-2 text-xl">
      app.component.html
    </div>
    <div class="flex w-full my-2">
      <iframe
        src="https://www.thiscodeworks.com/embed/61bc348d2e046e00150bd087"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="text-gray-900 font-semibold mt-4 text-xl">
      Attribute Directives
    </div>
    <div class="text-gray-800 font-normal text-base my-2 content-center">
      Attribute directives manipulate the DOM by changing its behavior and
      appearance.
    </div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      We use attribute directives to apply conditional style to elements, show
      or hide elements or dynamically change the behavior of a component
      according to a changing property.
    </div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      Angular provides many built-in Attribute Directives like NgStyle, NgClass,
      etc. We can also create our own custom Attribute Directives for our
      desired functionality.
    </div>
    <div class="text-gray-800 font-normal text-base my-2 content-center">
      <span class="font-semibold">NgStyle Directive</span> is an Attribute
      directive used to change the styling of any DOM element on the basis of
      some condition
    </div>
    <div class="text-gray-900 font-semibold mb-2 text-xl">
      app.component.html
    </div>
    <div class="flex w-full my-2">
      <iframe
        src="https://www.thiscodeworks.com/embed/61bc359d2e046e00150bd088"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>

    <div class="flex w-full h-full items-end mt-6">
      <div
        class="
          flex
          2xl:flex-row
          xl:flex-row
          lg:flex-row
          md:flex-row
          flex-col
          w-full
          sm:justify-between
        "
      >
        <div>
          <a routerLink="/databinding">
            <button
              class="
                rounded-full
                flex flex-row
                w-full
                justify-center
                items-center
                px-8
                py-3
                my-2
                border border-blue-700
                text-blue-700 text-center
                font-bold
                text-base
              "
            >
              <img class="pr-2" src="../assets/icons/previous-icon.svg" />
              <div>Previous Topic</div>
            </button>
          </a>
        </div>
        <div>
          <a routerLink="/interaction">
            <button
              class="
                rounded-full
                flex flex-row
                w-full
                justify-center
                items-center
                px-8
                py-3
                my-2
                bg-blue-700
                border border-blue-700
                text-white text-center
                font-bold
                text-base
              "
            >
              <div>Next Topic</div>
              <img class="pl-2" src="../assets/icons/next-icon.svg" />
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
