<div
  class="flex 2xl:w-3/5 xl:w-3/5 lg:w-4/5 md:w-full sm:w-full w-full h-full justify-center container font-inter mx-auto p-6"
>
  <div class="flex flex-col w-full justify-start items-start">
    <div class="text-gray-900 font-bold text-3xl">Data Binding</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      Data binding allows Internet users to manipulate web page elements with
      the help of a web browser. It includes dynamic HTML and does not require
      complex programming. Data binding is used in web applications that contain
      interactive components such as forms, calculators, tutorials, and games.
      The incremental display of a webpage makes data binding convenient when
      pages contain an extensive amount of data.
    </div>

    <div class="text-gray-900 font-semibold text-xl">
      String Interpolation Binding
    </div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      String Interpolation in Angular is a one-way data-binding technique that
      is used to transfer the data from a TypeScript code to an HTML template
      (view). It uses the template expression in double curly braces to display
      the data from the component to the view. String interpolation adds the
      value of a property from the component to the HTML template view.
    </div>
    <ngx-skeleton-loader
      class="flex w-full my-4"
      *ngIf="!contentLoaded"
      [animation]="animation"
      [theme]="{
        'border-radius': '5px',
        height: '99px',
        'background-color': '#323232',
        border: '1px solid #323232',
        'animation-duration': '5s'
      }"
    >
    </ngx-skeleton-loader>
    <div>
      <img
        *ngIf="contentLoaded"
        class="flex w-full my-4"
        src="https://i.imgur.com/RD3x3j1.jpg"
      />
    </div>
    <div class="font-semibold text-base text-gray-800">Syntax</div>
    <ngx-skeleton-loader
      class="flex w-full my-4"
      *ngIf="!contentLoaded"
      [animation]="animation"
      [theme]="{
        'border-radius': '5px',
        height: '99px',
        'background-color': '#323232',
        border: '1px solid #323232',
        'animation-duration': '5s'
      }"
    >
    </ngx-skeleton-loader>
    <div class="flex w-full mt-4">
      <iframe
        *ngIf="contentLoaded"
        src="https://www.thiscodeworks.com/embed/61bbe4622e046e00150bd075"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="font-semibold text-base text-gray-800">app.component.html</div>
    <ngx-skeleton-loader
      class="flex w-full my-4"
      *ngIf="!contentLoaded"
      [animation]="animation"
      [theme]="{
        'border-radius': '5px',
        height: '99px',
        'background-color': '#323232',
        border: '1px solid #323232',
        'animation-duration': '5s'
      }"
    >
    </ngx-skeleton-loader>
    <div class="flex w-full mt-4">
      <iframe
        *ngIf="contentLoaded"
        src="https://www.thiscodeworks.com/embed/61bbe4622e046e00150bd075"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="font-semibold text-base text-gray-800">app.component.ts</div>
    <ngx-skeleton-loader
      class="flex w-full my-4"
      *ngIf="!contentLoaded"
      [animation]="animation"
      [theme]="{
        'border-radius': '5px',
        height: '203px',
        'background-color': '#323232',
        border: '1px solid #323232',
        'animation-duration': '5s'
      }"
    >
    </ngx-skeleton-loader>
    <div class="flex w-full mt-4">
      <iframe
        *ngIf="contentLoaded"
        src="https://www.thiscodeworks.com/embed/61bbe8d52e046e00150bd077"
        style="width: 100%; height: 203px"
        frameborder="0"
      ></iframe>
    </div>
    <div class="text-gray-900 font-semibold mt-4 text-xl">Property Binding</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      Property binding is a one-way data binding mechanism that allows you to
      set the properties for HTML elements. It involves updating a property
      value in the component and binding the value to an HTML element in the
      same view. We use property binding for toggle functionality and sharing
      data between components. It uses the "[]" syntax for data binding.
    </div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      In the app.component.ts file, I’ve created another property called image
      and provided the path to the Logo in the assets folder.
    </div>
    <div class="font-semibold text-base text-gray-800">app.component.ts</div>
    <ngx-skeleton-loader
      class="flex w-full my-4"
      *ngIf="!contentLoaded"
      [animation]="animation"
      [theme]="{
        'border-radius': '5px',
        height: '99px',
        'background-color': '#323232',
        border: '1px solid #323232',
        'animation-duration': '5s'
      }"
    >
    </ngx-skeleton-loader>
    <div class="flex w-full mt-4">
      <iframe
        *ngIf="contentLoaded"
        src="https://www.thiscodeworks.com/embed/61bc1fbc2e046e00150bd07c"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="font-semibold text-base text-gray-800">app.component.html</div>
    <ngx-skeleton-loader
      class="flex w-full my-4"
      *ngIf="!contentLoaded"
      [animation]="animation"
      [theme]="{
        'border-radius': '5px',
        height: '99px',
        'background-color': '#323232',
        border: '1px solid #323232',
        'animation-duration': '5s'
      }"
    >
    </ngx-skeleton-loader>
    <div class="flex w-full mt-4">
      <iframe
        *ngIf="contentLoaded"
        src="https://www.thiscodeworks.com/embed/61bc1ffd2e046e00150bd07d"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="text-gray-900 font-semibold mt-4 text-xl">Event Binding</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      Event binding type is when information flows from the view to the
      component when an event is triggered. The event could be a mouse click or
      keypress. The view sends the data to update the component. Unsurprisingly,
      it is the exact opposite of property binding, where the data goes from the
      component to the view.
    </div>
    <ngx-skeleton-loader
      class="flex w-full my-4"
      *ngIf="!contentLoaded"
      [animation]="animation"
      [theme]="{
        'border-radius': '5px',
        height: '99px',
        'background-color': '#323232',
        border: '1px solid #323232',
        'animation-duration': '5s'
      }"
    >
    </ngx-skeleton-loader>
    <div>
      <img
        *ngIf="contentLoaded"
        class="flex w-full my-2"
        src="https://i.imgur.com/qkavXW3.jpg"
      />
    </div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      We have created a Subscribe button that displays a “Thank you” message
      when clicked on.
    </div>
    <div class="font-semibold text-base text-gray-800">app.component.html</div>
    <ngx-skeleton-loader
      class="flex w-full my-4"
      *ngIf="!contentLoaded"
      [animation]="animation"
      [theme]="{
        'border-radius': '5px',
        height: '99px',
        'background-color': '#323232',
        border: '1px solid #323232',
        'animation-duration': '5s'
      }"
    >
    </ngx-skeleton-loader>
    <div class="flex w-full mt-4">
      <iframe
        *ngIf="contentLoaded"
        src="https://www.thiscodeworks.com/embed/61bc24612e046e00150bd07e"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="font-semibold text-base text-gray-800">app.component.ts</div>
    <ngx-skeleton-loader
      class="flex w-full my-4"
      *ngIf="!contentLoaded"
      [animation]="animation"
      [theme]="{
        'border-radius': '5px',
        height: '99px',
        'background-color': '#323232',
        border: '1px solid #323232',
        'animation-duration': '5s'
      }"
    >
    </ngx-skeleton-loader>
    <div class="flex w-full mt-4">
      <iframe
        *ngIf="contentLoaded"
        src="https://www.thiscodeworks.com/embed/61bc250f2e046e00150bd07f"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="text-gray-900 font-semibold mt-4 text-xl">
      Two-way Data Binding
    </div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      As the name suggests, two-way binding is a mechanism where data flows from
      the component to the view and back. This binding ensures that the
      component and view are always in sync. Any changes made on either end are
      immediately reflected on both. The general syntax to denote two-way data
      binding is a combination of Square brackets and parentheses "[()]".
    </div>
    <ngx-skeleton-loader
      class="flex w-full my-4"
      *ngIf="!contentLoaded"
      [animation]="animation"
      [theme]="{
        'border-radius': '5px',
        height: '99px',
        'background-color': '#323232',
        border: '1px solid #323232',
        'animation-duration': '5s'
      }"
    >
    </ngx-skeleton-loader>
    <div>
      <img
        *ngIf="contentLoaded"
        class="flex w-full my-2"
        src="https://i.imgur.com/Qn738nr.jpg"
      />
    </div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      To illustrate two-way data binding, we’ve created a property with an empty
      string and an input box for the user to type. Whatever the user provides
      is displayed on the screen with the help of the property.
    </div>
    <div class="font-semibold text-base text-gray-800">app.component.ts</div>
    <ngx-skeleton-loader
      class="flex w-full my-4"
      *ngIf="!contentLoaded"
      [animation]="animation"
      [theme]="{
        'border-radius': '5px',
        height: '99px',
        'background-color': '#323232',
        border: '1px solid #323232',
        'animation-duration': '5s'
      }"
    >
    </ngx-skeleton-loader>
    <div class="flex w-full mt-4">
      <iframe
        *ngIf="contentLoaded"
        src="https://www.thiscodeworks.com/embed/61bc26f42e046e00150bd080"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="font-semibold text-base text-gray-800">app.component.html</div>
    <ngx-skeleton-loader
      class="flex w-full my-4"
      *ngIf="!contentLoaded"
      [animation]="animation"
      [theme]="{
        'border-radius': '5px',
        height: '99px',
        'background-color': '#323232',
        border: '1px solid #323232',
        'animation-duration': '5s'
      }"
    >
    </ngx-skeleton-loader>
    <div class="flex w-full mt-4">
      <iframe
        *ngIf="contentLoaded"
        src="https://www.thiscodeworks.com/embed/61bc27362e046e00150bd081"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="text-gray-800 font-normal text-base my-2 content-center">
      We have used the ngModel directive and initialized it to random. We’ve
      then interpolated the property random.
    </div>

    <div class="flex w-full h-full items-end mt-6">
      <div
        class="flex 2xl:flex-row xl:flex-row lg:flex-row md:flex-row flex-col w-full sm:justify-between"
      >
        <div>
          <a routerLink="/view/cli-setup">
            <button
              class="rounded-full flex flex-row w-full justify-center items-center px-8 py-3 my-2 border border-blue-700 text-blue-700 text-center font-bold text-base"
            >
              <img class="pr-2" src="../assets/icons/previous-icon.svg" />
              <div>Previous Topic</div>
            </button>
          </a>
        </div>
        <div>
          <a routerLink="/view/directive">
            <button
              class="rounded-full flex flex-row w-full justify-center items-center px-8 py-3 my-2 bg-blue-700 border border-blue-700 text-white text-center font-bold text-base"
            >
              <div>Next Topic</div>
              <img class="pl-2" src="../assets/icons/next-icon.svg" />
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
