<div class="flex flex-col w-full h-full justify-center items-center">
  <div
    class="
      flex
      w-full
      h-full
      bg-gray-900
      justify-center
      text-white
      items-center
    "
  >
    <div
      class="
        flex
        2xl:w-3/5
        xl:w-3/5
        lg:w-4/5
        md:w-full
        sm:w-full
        w-full
        h-full
        justify-center
        font-inter
        container
        mx-auto
        p-6
        my-4
      "
    >
      <div class="flex flex-col w-full justify-center items-center my-6">
        <div
          class="
            font-bold
            2xl:text-6xl
            xl:text-6xl
            lg:text-5xl
            md:text-4xl
            text-3xl text-center text-white
            my-4
          "
        >
          Angular Made Simple
        </div>
        <div class="font-base text-base text-center text-gray-400 my-4">
          Learn Angular in 7 days with our world-class learning experience
        </div>
        <div class="my-4">
          <button
            class="bg-blue-700 px-8 py-3 text-base text-white rounded-full"
          >
            <a routerLink="/view/introduction">Start Learning</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="
      flex
      w-full
      h-full
      bg-gray-100
      justify-center
      text-white
      items-center
    "
  >
    <div
      class="
        flex
        2xl:w-3/5
        xl:w-3/5
        lg:w-4/5
        md:w-full
        sm:w-full
        w-full
        h-full
        justify-center
        font-inter
        container
        mx-auto
        py-6
        my-8
      "
    >
      <div class="flex flex-col w-full justify-center items-center my-6">
        <div class="text-black font-bold text-4xl my-4">Basic Lessons</div>
        <div
          class="
            my-8
            mx-8
            2xl:mx-0
            xl:mx-0
            lg:mx-0
            md:mx-12
            grid
            2xl:grid-cols-3
            xl:grid-cols-3
            lg:grid-cols-3
            md:grid-cols-2
            grid-rows-1
            2xl:gap-y-12
            xl:gap-y-12
            lg:gap-y-10
            md:gap-y-8
            gap-y-8
            2xl:gap-x-8
            xl:gap-x-8
            lg:gap-x-8
            md:gap-x-12
            gap-x-8
          "
        >
          <div
            class="
              my-4
              flex flex-col
              items-start
              px-6
              py-4
              shadow-md
              hover:shadow-xl
              bg-white
              rounded-md
              text-black
              transition
              transform
              hover:-translate-y-1
              motion-reduce:transition-none motion-reduce:transform-none
            "
          >
            <div
              class="
                text-blue-700
                hover:underline hover:underline-offset-2
                text-base
                font-medium
                my-2
              "
            >
              What is Angular
            </div>
            <div class="text-gray-700 text-sm font-normal">
              Learn Angular in 7 days with our world-class learning experience
              Learn Angular in 7 days with our world-class
            </div>
          </div>
          <div
            class="
              my-4
              flex flex-col
              items-start
              px-6
              py-4
              shadow-md
              hover:shadow-xl
              bg-white
              rounded-md
              text-black
              transition
              transform
              hover:-translate-y-1
              motion-reduce:transition-none motion-reduce:transform-none
            "
          >
            <div
              class="
                text-blue-700
                hover:underline hover:underline-offset-2
                text-xl
                font-medium
                my-2
              "
            >
              What is Angular
            </div>
            <div class="text-gray-700 text-sm font-normal">
              Learn Angular in 7 days with our world-class learning experience
              Learn Angular in 7 days with our world-class
            </div>
          </div>
          <div
            class="
              my-4
              flex flex-col
              items-start
              px-6
              py-4
              shadow-md
              hover:shadow-xl
              bg-white
              rounded-md
              text-black
              transition
              transform
              hover:-translate-y-1
              motion-reduce:transition-none motion-reduce:transform-none
            "
          >
            <div
              class="
                text-blue-700
                hover:underline hover:underline-offset-2
                text-xl
                font-medium
                my-2
              "
            >
              What is Angular
            </div>
            <div class="text-gray-700 text-sm font-normal">
              Learn Angular in 7 days with our world-class learning experience
              Learn Angular in 7 days with our world-class
            </div>
          </div>
          <div
            class="
              my-4
              flex flex-col
              items-start
              px-6
              py-4
              shadow-md
              hover:shadow-xl
              bg-white
              rounded-md
              text-black
              transition
              transform
              hover:-translate-y-1
              motion-reduce:transition-none motion-reduce:transform-none
            "
          >
            <div
              class="
                text-blue-700
                hover:underline hover:underline-offset-2
                text-xl
                font-medium
                my-2
              "
            >
              What is Angular
            </div>
            <div class="text-gray-700 text-sm font-normal">
              Learn Angular in 7 days with our world-class learning experience
              Learn Angular in 7 days with our world-class
            </div>
          </div>
          <div
            class="
              my-4
              flex flex-col
              items-start
              px-6
              py-4
              shadow-md
              hover:shadow-xl
              bg-white
              rounded-md
              text-black
              transition
              transform
              hover:-translate-y-1
              motion-reduce:transition-none motion-reduce:transform-none
            "
          >
            <div
              class="
                text-blue-700
                hover:underline hover:underline-offset-2
                text-xl
                font-medium
                my-2
              "
            >
              What is Angular
            </div>
            <div class="text-gray-700 text-sm font-normal">
              Learn Angular in 7 days with our world-class learning experience
              Learn Angular in 7 days with our world-class
            </div>
          </div>
          <div
            class="
              my-4
              flex flex-col
              items-start
              px-6
              py-4
              shadow-md
              hover:shadow-xl
              bg-white
              rounded-md
              text-black
              transition
              transform
              hover:-translate-y-1
              motion-reduce:transition-none motion-reduce:transform-none
            "
          >
            <div
              class="
                text-blue-700
                hover:underline hover:underline-offset-2
                text-xl
                font-medium
                my-2
              "
            >
              What is Angular
            </div>
            <div class="text-gray-700 text-sm font-normal">
              Learn Angular in 7 days with our world-class learning experience
              Learn Angular in 7 days with our world-class
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="
      flex
      w-full
      h-full
      bg-gray-900
      justify-center
      text-white
      items-center
    "
  >
    <div
      class="
        flex
        2xl:w-3/5
        xl:w-3/5
        lg:w-4/5
        md:w-full
        sm:w-full
        w-full
        h-full
        justify-center
        font-inter
        container
        mx-auto
        p-6
        my-4
      "
    >
      <div class="flex flex-col w-full justify-center items-center my-6">
        <div class="font-normal text-base uppercase text-gray-400 my-2">
          Technologies used
        </div>
        <div class="font-semibold text-base text-white my-2">Angular</div>
        <div class="font-semibold text-base text-white my-2">Tailwind Css</div>
        <div class="font-normal text-base text-gray-400 my-2">
          This website is developed by
          <span class="font-bold text-white">Tazeen-e-Khakashan</span>
        </div>
      </div>
    </div>
  </div>
</div>
