<div
  class="
    flex
    2xl:w-3/5
    xl:w-3/5
    lg:w-4/5
    md:w-full
    sm:w-full
    w-full
    h-full
    justify-center
    container
    font-inter
    mx-auto
    p-6
  "
>
  <div class="flex flex-col w-full justify-start items-start">
    <div class="text-gray-900 font-bold text-3xl">Install the Angular CLI</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      You use the Angular CLI to create projects, generate application and
      library code, and perform a variety of ongoing development tasks such as
      testing, bundling, and deployment.
    </div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      To install the Angular CLI, open a terminal window and run the following
      command:
    </div>
    <div class="flex w-full">
      <iframe
        src="https://www.thiscodeworks.com/embed/61bbdc9f2e046e00150bd072"
        style="width: 100%; height: 100%"
        frameborder="0"
      ></iframe>
    </div>
    <div class="text-gray-900 font-bold text-3xl">
      Create a workspace and initial application
    </div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      You develop apps in the context of an Angular workspace.
    </div>
    <div class="text-gray-800 font-normal text-base content-center">
      To create a new workspace and initial starter app:
    </div>
    <ul class="list-decimal list-inside">
      <li class="text-gray-800 font-normal text-base my-4 content-center">
        Run the CLI command ng new and provide the name my-app, as shown here:
        <div class="flex w-full mt-4">
          <iframe
            src="https://www.thiscodeworks.com/embed/61bbdd112e046e00150bd073"
            style="width: 100%; height: 100%"
            frameborder="0"
          ></iframe>
        </div>
      </li>
      <li class="text-gray-800 font-normal text-base content-center">
        The ng new command prompts you for information about features to include
        in the initial app. Accept the defaults by pressing the Enter or Return
        key.
      </li>
    </ul>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      The Angular CLI installs the necessary Angular npm packages and other
      dependencies. This can take a few minutes.
    </div>
    <div class="text-gray-800 font-normal text-base mb-4 content-center">
      The CLI creates a new workspace and a simple Welcome app, ready to run.
    </div>
    <div class="text-gray-900 font-bold text-3xl">Run the application</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      The Angular CLI includes a server, for you to build and serve your app
      locally
    </div>
    <ul class="list-decimal list-inside w-full">
      <li class="text-gray-800 font-normal text-base my-4 content-center">
        Navigate to the workspace folder, such as my-app.
      </li>
      <li class="text-gray-800 font-normal text-base my-4 content-center">
        Run the following command:
        <div class="flex w-full mt-4">
          <iframe
            src="https://www.thiscodeworks.com/embed/61baef09a094f20015abc7d5"
            style="width: 100%; height: 100%"
            frameborder="0"
          ></iframe>
        </div>
      </li>
    </ul>

    <div class="flex w-full h-full items-end mt-6">
      <div
        class="
          flex
          2xl:flex-row
          xl:flex-row
          lg:flex-row
          md:flex-row
          flex-col
          w-full
          sm:justify-between
        "
      >
        <div>
          <a routerLink="/architecture">
            <button
              class="
                rounded-full
                flex flex-row
                w-full
                justify-center
                items-center
                px-8
                py-3
                my-2
                border border-blue-700
                text-blue-700 text-center
                font-bold
                text-base
              "
            >
              <img class="pr-2" src="../assets/icons/previous-icon.svg" />
              <div>Previous Topic</div>
            </button>
          </a>
        </div>
        <div>
          <a routerLink="/databinding">
            <button
              class="
                rounded-full
                flex flex-row
                w-full
                justify-center
                items-center
                px-8
                py-3
                my-2
                bg-blue-700
                border border-blue-700
                text-white text-center
                font-bold
                text-base
              "
            >
              <div>Next Topic</div>
              <img class="pl-2" src="../assets/icons/next-icon.svg" />
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
