<div class="flex flex-col font-inter w-full h-screen">
  <mat-toolbar class="font-inter mat-elevation-z8 bg-gray-900 text-white">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    Learn Angular
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav
      #sidenav="matSidenav"
      class="
        mat-elevation-z8
        font-inter
        bg-gray-900
        text-gray-400
        p-2
        text-center
      "
    >
      <button mat-button class="menu-button">
        <a routerLink="/intro" routerLinkActive="text-white"
          ><span>1.Introduction</span></a
        >
      </button>
      <button mat-button class="menu-button">
        <a routerLink="/architecture" routerLinkActive="text-white"
          ><span>2.Architecture</span></a
        >
      </button>
      <button mat-button class="menu-button">
        <a routerLink="/setup" routerLinkActive="text-white"
          ><span>3.Setup Project</span></a
        >
      </button>
      <button mat-button class="menu-button">
        <a routerLink="/databinding" routerLinkActive="text-white"
          ><span>4.Data Binding</span></a
        >
      </button>
      <button mat-button class="menu-button">
        <a routerLink="/directives" routerLinkActive="text-white"
          ><span>5.Directives</span></a
        >
      </button>
      <button mat-button class="menu-button">
        <a routerLink="/interaction" routerLinkActive="text-white"
          ><span>6.Interactions</span></a
        >
      </button>
      <button mat-button class="menu-button">
        <a routerLink="/setup8" routerLinkActive="text-white">
          <span>7.Services</span></a
        >
      </button>
      <button mat-button class="menu-button">
        <a routerLink="/setup9" routerLinkActive="text-white"
          ><span>8.Http Request</span></a
        >
      </button>
      <button mat-button class="menu-button">
        <a routerLink="/setup0" routerLinkActive="text-white">
          <span>9.Forms</span></a
        >
      </button>
      <button mat-button class="menu-button">
        <a routerLink="/setup1" routerLinkActive="text-white"
          ><span>10.Config tailwindcss</span></a
        >
      </button>
      <button mat-button class="menu-button">
        <a routerLink="/setup" routerLinkActive="text-white"
          ><span>11.TODO List</span></a
        >
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content font-inter mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
