<div
  class="
    flex
    2xl:w-3/5
    xl:w-3/5
    lg:w-4/5
    md:w-full
    sm:w-full
    w-full
    h-full
    justify-start
    p-6
  "
>
  <div class="flex flex-col w-full justify-start items-start">
    <div class="text-gray-900 font-bold text-3xl">Angular Architecture</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      These days, we have a variety of frameworks and libraries designed to
      provide alternative solutions. With respect to front-end web development,
      Angular addresses many, if not all, of the issues developers face when
      using JavaScript on its own.
    </div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      Angular is a full-fledged model-view-controller (MVC) framework. It
      provides clear guidance on how the application should be structured and
      offers bi-directional data flow while providing real DOM.
    </div>
    <div>
      <img class="flex w-full my-4" src="https://i.imgur.com/27u3LlV.png" />
    </div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      The following are the eight building blocks of an Angular application:
    </div>
    <div class="text-gray-900 font-medium text-xl">1. Modules</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      An Angular app has a root module, named AppModule, which provides the
      bootstrap mechanism to launch the application.
    </div>
    <div class="text-gray-900 font-medium text-xl">2. Components</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      Each component in the application defines a class that holds the
      application logic and data. A component generally defines a part of the
      user interface (UI).
    </div>
    <div class="text-gray-900 font-medium text-xl">3. Templates</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      The Angular template combines the Angular markup with HTML to modify HTML
      elements before they are displayed. There are two types of data binding:
      <ol class="list-decimal list-inside">
        <li>
          <span class="font-medium">Event binding:</span> Lets your app respond
          to user input in the target environment by updating your application
          data.
        </li>
        <li>
          <span class="font-medium">Property binding:</span> Enables users to
          interpolate values that are computed from your application data into
          the HTML.
        </li>
      </ol>
    </div>
    <div class="text-gray-900 font-medium text-xl">4. Metadata</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      Metadata tells Angular how to process a class. It is used to decorate the
      class so that it can configure the expected behavior of a class.
    </div>
    <div class="text-gray-900 font-medium text-xl">5. Services</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      When you have data or logic that isn’t associated with the view but has to
      be shared across components, a service class is created. The class is
      always associated with the @Injectible decorator.
    </div>
    <div class="text-gray-900 font-medium text-xl">6. Dependency Injection</div>
    <div class="text-gray-800 font-normal text-base my-4 content-center">
      This feature lets you keep your component classes crisp and efficient. It
      does not fetch data from a server, validate the user input, or log
      directly to the console. Instead, it delegates such tasks to the services.
    </div>

    <div class="flex w-full">
      <iframe
        src="https://www.thiscodeworks.com/embed/61baef09a094f20015abc7d5"
        style="width: 100%; height: 281px"
        class="flex w-full"
        frameborder="0"
      ></iframe>
    </div>
    <div class="flex w-full h-full items-end mt-6">
      <div
        class="
          flex
          2xl:flex-row
          xl:flex-row
          lg:flex-row
          md:flex-row
          flex-col
          w-full
          sm:justify-between
        "
      >
        <div>
          <a routerLink="/intro">
            <button
              class="
                rounded-full
                flex
                w-full
                justify-center
                px-4
                py-3
                my-2
                border border-blue-700
                text-blue-700 text-center
                font-bold
                text-base
              "
            >
              Previous Topic
            </button>
          </a>
        </div>
        <div>
            <a routerLink="/setup">
                <button
            class="
              rounded-full
              flex
              w-full
              justify-center
              px-6
              py-3
              my-2
              bg-blue-700
              border border-blue-700
              text-white text-center
              font-bold
              text-base
            "
          >
            Next Topic
          </button>
            </a>

        </div>
      </div>
    </div>
  </div>
</div>
