<div class="flex w-full bg-blue-100">
  <div
    class="
      flex
      2xl:w-3/5
      xl:w-3/5
      lg:w-4/5
      md:w-full
      sm:w-full
      w-full
      h-screen
      justify-center
      container
      font-inter
      mx-auto
      p-6
    "
  >
    <div class="flex flex-col w-full justify-start items-start">
      <div class="flex flex-row justify-between items-center w-full">
        <div class="text-gray-900 font-bold text-3xl">Services</div>
        <div class="flex flex-row items-center">
          <div class="mx-2">
            <input
              [(ngModel)]="newTask.taskTitle"
              *ngIf="showAddInput"
              class="bg-white"
              type="text"
              (keyup.enter)="createTask()"
            />
          </div>
          <div
            class="text-blue-700 mx-2 text-sm font-normal"
            (click)="showInputBox()"
          >
            Add Task
          </div>
        </div>
      </div>
      <div class="flex flex-col w-full justify-start items-start">
        <div
          class="
            flex flex-row
            justify-between
            items-center
            rounded-lg
            shadow-sm
            bg-white
            my-2
            w-full
            p-3
          "
          *ngFor="let task of tasks; index as i"
        >
          <div *ngIf="errorMsg" class="text-red-500 font-medium">
            {{ errorMsg }}
          </div>
          <div *ngIf="!showEditInput">{{ task.taskTitle }}</div>
          <div>
            <input
              [(ngModel)]="task.taskTitle"
              class="bg-gray-100 border"
              *ngIf="showEditInput"
              (keyup.enter)="editTask(task, i)"
              type="text"
            />
          </div>
          <div class="flex flex-row items-center">
            <div (click)="openEdit(task, i)">edit</div>
            <div (click)="removeTask(task, i)" class="mx-2">Delete</div>
            <!-- <div (click)="editElement(student, i)" class="mx-2">Edit</div>
            <div (click)="selectForDelete(i)" class="mx-2">Delete</div> -->
          </div>
        </div>
      </div>
      <div class="flex w-full h-full items-end mt-6">
        <div
          class="
            flex
            2xl:flex-row
            xl:flex-row
            lg:flex-row
            md:flex-row
            flex-col
            w-full
            sm:justify-between
          "
        >
          <div>
            <a routerLink="/view/angular-material">
              <button
                class="
                  rounded-full
                  flex flex-row
                  w-full
                  justify-center
                  items-center
                  px-8
                  py-3
                  my-2
                  border border-blue-700
                  text-blue-700 text-center
                  font-bold
                  text-base
                "
              >
                <img class="pr-2" src="../assets/icons/previous-icon.svg" />
                <div>Previous Topic</div>
              </button>
            </a>
          </div>
          <div>
            <a routerLink="/view/todo">
              <button
                class="
                  rounded-full
                  flex flex-row
                  w-full
                  justify-center
                  items-center
                  px-8
                  py-3
                  my-2
                  bg-blue-700
                  border border-blue-700
                  text-white text-center
                  font-bold
                  text-base
                "
              >
                <div>Next Topic</div>
                <img class="pl-2" src="../assets/icons/next-icon.svg" />
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
