<div
  class="
    flex flex-col
    2xl:w-3/5
    xl:w-3/5
    lg:w-4/5
    md:w-full
    sm:w-full
    w-full
    h-screen
    justify-center
    items-center
    font-inter
    container
    mx-auto
    p-6
  "
>
  <img
    class="
      flex
      w-2/5
      justify-center
      items-center
      h-1/5
      2xl:w-2/5 2xl:h-2/5
      xl:w-2/5 xl:h-2/5
      lg:w-1/5 lg:h-1/5
      md:w-1/5 md:h-1/5
    "
    src="https://i.imgur.com/JLvQqAv.png"
  />
  <div class="font-bold text-xl text-gray-900 my-2">Whoops! Page not found</div>
  <div class="font-normal text-base text-gray-900 my-2">
    Hey! beautiful human. Thanks for being patient.
  </div>
  <div>
    <button
      class="bg-blue-700 px-4 py-3 font-medium rounded-full text-white my-2"
    >
      <a routerLink="/view/introduction">Try Again</a>
    </button>
  </div>
</div>
